<!-- <h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p> -->

<div class="main-background">
  <h1>Kleo's Baklava Cafe</h1>
</div>

<div class="main-middle">

<div class="hours">

</div>
<iframe
  width="450"
  height="250"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/search?key=AIzaSyBtXQHDzBeLn3e9pvmM1ZrutOQIT9zA6yU&q=7+s+york+rd+Hatboro+PA" allowfullscreen>
</iframe>

</div>

<div class="food-container">
  <p class="food"><%= image_tag("gyro.jpg", :alt => "") %></p>
  <p class="food"><%= image_tag("baklava.jpg", :alt => "") %></p>
  <p class="food"><%= image_tag("salad.jpg", :alt => "") %></p>
</div>
