// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.menu-background {
  background-image: url(menu_background.jpg);
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
}
p a {
    color: red;
    font-size: 20px;
}
